@import '@fontsource-variable/fraunces';
@import '@fontsource-variable/inter';
@import './tokens.css';
@import './reset.css';

html {
  background-color: var(--c-bone);
}

body {
  background-color: var(--c-bone);
  color: var(--c-ink);
  font-family: var(--f-ui);
}
